// Use this file as a starting point for your project's .eslintrc.
// Copy this file, and add rule overrides as needed.
{
  "extends": "airbnb",
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "rules": {
    "linebreak-style": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": [
      2,
      {
        "ignore": [
          "css/",
          "js/"
        ]
      }
    ]
  },
  "parser": "babel-eslint"
}
