
#menu
  clearfix()
  ul
    margin-left 0
    padding-top 0
    padding-bottom 0
    list-style none
    li
      float left
      & + li
        margin-left 10px
  a
    color black
    &.active
      color blue

