.wrapper {
    width: 300px;
    height: 200px;
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 90;
    overflow: hidden;
}

.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: -3px;
    right: -3px;
}

.ribbon {
    font: bold 15px Sans-Serif;
    text-align: center;
    transform: rotate(45deg);
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}